################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FF8Calculator/obj/Debug
/.vs/FF8Calculator/v16
/FF8Calculator/bin/Debug
